#flip {
  background-color: #0849B5;
  border: 1px solid #C3C3C3;
  color: #FFFFFF;
  font-size: 16px;
  opacity: 0.8;
  padding: 4px 0 5px 17px;
  text-align: left;
  width: 77%;
}
.plugin_left
{
float: left;	
width: 70%;
	}
.plugin_right
{
float: right;	
width: 30%;
	}	
	
.xmlsitemaptitle
{
padding:5px;
text-align:center;
background-color:#0849b5;
border:solid 1px #c3c3c3;
width: 90%;
opacity: 0.8;
color: #fff;
font-size: 16px;	
 
}
.xmlsitemaptitle_image {
  width: 94%;
}
.xmlsitemaptitle_image img {
  display: block;
  margin: 0 auto;
}
.donate {
  margin: 0 auto;
  display: block;
  }
 .inside {
  text-align: center;
}
.success_msg {
  color: red;
  font-size: 15px;
  padding: 10px 0 0 0;
}
  @media screen  and (max-width: 480px) {

.plugin_left {
  width: 100%;
}

.plugin_right {
  width: 100%;
 
}

} 
 
@media  (min-width: 481px)  and (max-width: 768px) {

.plugin_left {
  width: 100%;
}

.plugin_right {
  width: 100%;

}

} 
@media  (min-width: 769px)  and (max-width: 1024px) {

.plugin_left {
  width: 100%;
}

.plugin_right {
  width: 100%;
 
}
font-size: 15px;
}
} 
@media  (min-width: 1025px)  and (max-width: 1280px) {

.plugin_left {
  width: 97%;
}

.plugin_right {
  width: 97%;
}

} 
 
